%nav.navbar.navbar-inverse.navbar-static-top{ style: 'margin-bottom: 0px;'}
  .container-fluid
    .btn-toolbar
      .btn-group.btn-group-sm
        %button.btn.btn-default.navbar-btn{ data: { toggle: 'auto-collapse' } }
          %i.fa.fa-columns

        %button.btn.btn-default.navbar-btn{ data: { toggle: 'perspective' } }
          %i.fa.fa-street-view

      %i.fa.fa-spinner.loading.navbar-text{ style: 'font-size: 20px;'}

      .pull-right
        %button.btn.btn-sm.btn-default.navbar-btn{ data: { toggle: 'dropdown' } }
          %i.fa.fa-refresh
          Auto-Sync
          %span.caret

        %ul.dropdown-menu.dropdown-menu-right
          %li
            = link_to '#', class: 'active', data: { toggle: 'workspace.sync', type: 'movement' } do
              %i.fa.fa-check-square-o.toggle-checkbox
              Movement
          %li
            = link_to '#', class: 'active', data: { toggle: 'workspace.sync', type: 'layers' } do
              %i.fa.fa-check-square-o.toggle-checkbox
              Layers
