.container.workspaces
  .panel.panel-default
    .panel-body{ style: 'padding:0px;' }
      %nav.navbar.navbar-default.navbar-static-top
        .container-fluid.text-right
          = link_to 'New Workspace', new_workspace_path, class: 'btn btn-success navbar-btn'
    - if @workspaces.empty?
      .text-center
        %h1 No workspaces found
        = link_to 'Create a new workspace', new_workspace_path, class: 'btn btn-success btn-lg navbar-btn'

    - else
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th.text-right Actions

        %tbody
          - @workspaces.each do |workspace|
            %tr
              %td= workspace.name
              %td.text-right
                .btn-groups
                  = link_to 'View', workspace, class: 'btn btn-default'
