- meta workspace: @workspace.id, channel_key: SecureRandom.hex(10), map_view: params[:view] || 'mapbox'
#workspace-map.map-container.auto-collapse
  .map-sidebar{ data: { behavior: 'hover-toggle', target: '#workspace-map', class: 'expand' } }
    = render 'map_sidebar'
  .map-content
    = render 'map_toolbar'
    #map.map{ data: { center: [@workspace.center_lng.to_f, @workspace.center_lat.to_f], zoom: @workspace.zoom } }
