-images = %w(AAR-15-4456-291.jpg AAR-15-4565-160.jpg AKA-13-3929-68.jpg AKA-13-3942-186.jpg AKA-15-4565-306.jpg TP-16-4865-276.jpg TP-16-4866-33.jpg mountains.jpg)
#nasa-ace-carousel.carousel.slide{ data: { ride: 'carousel', interval: 20000 } }
  .carousel-inner
    -images.each do |image|
      -if image == images.first
        .item.active{ style: "background-image: url(#{image_path(image)});" }
      -else
        .item{ style: "background-image: url(#{image_path(image)});" }
    .carousel-caption-static
      = render 'introduction'
