%p
  Arctic Collaborative Environment (ACE) Joint Capability Technology Demonstration (JCTD) is an internet-based, open-access, Arctic-focused, environmental research and decision support system that integrates data from existing remote sensing assets with products from existing and new environmental models to provide monitoring, analysis, and visualization based on earth observation data and modeling.

%p
  With an initial focus on the Arctic region, researchers, students, search-and-rescue operators, native hunters, etc. can draw from the open-access data. The goal of the ACE JCTD is to enable local, regional, and international cooperation and coordination on long-term environmental planning and near-term actions in response to climatic and environmental changes occurring in the Arctic Region.
