.lead
  %h1 Arctic Collaborative Environment
  %p
    Promoting understanding and decision-support through data sharing and visualization in a web-based, open-access, environmentally-focused research system
