%ul.nav.nav-default.nav-stacked
  %li
    %a{ href: "#user" } User
  %ul
    %a{ href: "#benefits-of-becoming-an-ace-user" } Benefits of becoming an ACE User 
  %ul
    %a{ href: "#create-a-user-account" } Create a User Account 
  %ul
    %a{ href: "#manage-your-account" } Manage your Account 
  %ul
    %a{ href: "#logging-in" } Logging In 
  %ul
    %a{ href: "#api-key" } API key 

  %li
    %a{ href: "#data-providers" } Data Providers 
  %ul
    %a{ href: "#join-a-data-provider" } Join a Data Provider 
  %ul
    %a{ href: "#follow-a-data-provider" } Follow a Data Provider 
  %ul
    %a{ href: "#become-a-data-provider" } Become a Data Provider 
  %ul
    %a{ href: "#add-data-to-a-data-provider" } Add Data 
  %ul
    %a{ href: "#manage-a-data-provider" } Manage Data Providers 
  %ul
    %a{ href: "#public-and-private-data" } Public and Private Data 

  %li
    %a{ href: "#data" }Data 
  %ul
    %a{ href: "#create-a-dataset" }Create a Dataset 
  %ul
    %a{ href: "#add-more-data" }Add more Data 
  %ul
    %a{ href: "#search-for-data" }Search for Data 
  %ul
    %a{ href: "#delete-data" }Delete Data 
  %ul
    %a{ href: "#public-and-private-data" }Public and Private Data 

  %li
    %a{ href: "#workspace" }Workspace 
  %ul
    %a{ href: "#views" }Views 
  %ul
    %a{ href: "#layers" }Layers 
  %ul
    %a{ href: "#annotations" }Annotations 
  %ul
    %a{ href: "#3d-visualizations" }3D visualizations 

  %li
    %a{ href: "#chat" }Chat 

  %li
    %a{ href: "#user-groups" }User Groups 
  %ul
    %a{ href: "#create-a-user-group" }Create a User Group 
  %ul
    %a{ href: "#follow-a-user-group" }Follow a User Group 
