.row
  .col-sm-3
    = render 'pages/about_menu'
  .col-sm-9
    %h2 Acknowledgements
    %p The Arctic Collaborative Environment (ACE) is made possible by the efforts and support of the following organizations:
    %ul
      %li National Aeronautics and Space Administration (NASA), George C. Marshall Space Flight Center (MSFC)
      %li U.S. Department of Defense (DOD), Rapid Fielding Directorate
      %li Von Braun Center for Science &amp; Innovation (VCSI)
      %li Defence Research and Development Canada (DRDC)
      %li University of Alaska Fairbanks (UAF)
      %li Russian Arctic and Antarctic Research Institute (AARI)
      %li Sustaining Arctic Observing Networks (SAON)
      %li University of Alabama in Huntsville (UAH)
      %li U.S. European Command (EUCOM)
      %li U.S. National Ice Center (USNIC)
      %li North American Aerospace Defense Command (NORAD)
      %li U.S. Northern Command (USNORTHCOM)
      %li Johns Hopkins University Applied Physics Lab (JHU-APL)
      %li U.S. Army Aviation and Missile Research Development and Engineering Center (AMRDEC)
      %li U.S. Army Cold Regions Research and Engineering Laboratory (CRREL)
      %li University of Delaware (UD)
      %li Aurora Research Institute (ARI)
      %li University of Maryland, College Park (UMCP)
      %li exactEarth: AIS data © exactEarth
    %p Pictures for the ACE banner were kindly donated by:
    %ul
      %li University of Alaska Fairbanks (UAF)
      %li U.S. Naval Academy (USNA) Oceanography Department
      %li University of Washington (UW)
