.content
  .row-fluid
    .col-xs-3
      = render 'pages/help_menu'
    .col-xs-9
      %h3{ id: 'users' } USER
      %h4{ id: 'benefits-of-becoming-an-ace-user' } Benefits of becoming an ACE User

      %p Anyone can navigate to the ACE site to search for data and to download data, including people without ACE user accounts. You can use the Arctic Collaborative Environment without registering but there are some benefits to getting your own ACE user account.

      %p With an ACE user account you can publish datasets and you can personalize your experience. Registered ACE users can “follow” datasets. To register create a ACE user ID using the instructions below.


      %h4{id: 'create-a-user-account' } Create a User Account

      %p To create a user account, use the “Register” link at the top of any page. You will be asked for the following:

      %dl.dl-horizontal
        %dt Username
        %dd Choose a username containing only letters, numbers, and dashes (- and _ characters). For example, “asmith” or “a_smith56”
        %dt Full name
        %dd Your name to be displayed on your user profile
        %dt E-mail address
        %dd This will not be visible to other users
        %dt Password
        %dd Enter your password, re-enter it to confirm

        %h4{ id: 'manage-your-account' } Manage your Account

        %p Click on your own name to see your user profile. Select "Manage" button to make changes to your profile. Here you can change your Full Name and email, add a short biography and also change your password.

        %h4{ id: 'logging-in' } Logging In

        %pClick the "Log in" button in the top upper right corner of the ACE site. You'll be prompted to log in with your username and password. If you have forgotten your password, click "Forgot your password?". By entering your username you can request to reset your password.

        %h4{ id: 'api-key' } API key
        %p Your API key is private.

        %a{ href: "#user" } Back to Top

        %h3{ id: 'data-providers' } Data Providers

        %p Data providers are the primary way to control who can see, create and update datasets in CKAN. Each dataset can belong to a single data provider, and each data provider controls access to its datasets. Each data provider has its own landing page where users can view information about the data provider and search the data provider-owned datasets.

        %h4{ id: 'join-a-data-provider' } Join a Data Provider
        %p TBD

        %h4{ id: 'follow-a-data-provider' } Follow a Data Provider
        %p Using the navigation bar at the top of the page, click "Data Providers". On the Data Providers page you can search for organizations. Select the data provider you'd like to join. On the landing page of your selected data provider, click "Follow". Following a data provider will allow the ACE system to notify you when the data provider adds or changes a dataset it controls.

        %h4{ id: 'become-a-data-provider' } Become a Data Provider

        %ul
          %li Select the “Data Providers” link at the top of any page.
          %li Select the “Add Data Provider” button below the search box. The “Become a Data Provider” page will load.
          %li Enter a name for the Data Provider, and, optionally, a description and image URL for the Data Provider’s home page.
          %li Select the “Become Data Provider” button. Your Data Provider account is created and displays its home page. Initially, of course, the Data Provider page has no datasets.

        %h4{ id: 'add-data-to-a-provider' } Add Data to a Data Provider

        %p Once you have selected the page for the Data Provider that you want to own your new dataset. Provided that you are a member of this Data Provider, you can now select the “Add Dataset” button above the search box to add data to this Data Provider.

        %h4{ id: 'manage-a-data-provider' } Manage a Data Provider

        %p By default this system allows members of Data Provider to have three roles:

        %dl.dl-horizontal
          %dt Member
          %dd Can see the Data Provider’s private datasets
          %dt Editor
          %dd Can edit and publish datasets
          %dt Admin
          %dd Can add, remove and change roles for Data Provider members

          %p When a user joins a Data Provider, a Data Provider admin assigns that user the role of member, editor or admin.

        %h4{ id: 'public-and-private-data' } Public and Private Data

        %p As a data provider, datasets can be marked as public or private. Public datasets are visible to everyone. Private datasets can only be seen by logged-in users who are members of the dataset’s organization. Private datasets are not shown in general dataset searches but are shown in dataset searches within the organization.

        %a{ href: "#user" } Back to Top

        %h3{ id: 'data' } Data

        %h4{ id: 'create-a-dataset' } Create a Dataset

        %p You can access the “Create dataset” screen in two ways.

        %ul
          %li Select the “Datasets” link at the top of any page. From this, above the search box, select the “Add Dataset” button.
          %li Alternatively, select the “organizations” link at the top of a page.

        %p Now select the page for the organization that should own your new dataset. Provided that you are a member of this organization, you can now select the “Add Dataset” button above the search box. You will then be ask for the following information about your data.

        %dl.dl-horizontal
          %dt Title
          %dd This title will be unique across NASA ACE, so make it brief but specific. E.g. “AK population density by region” is better than Population figures”.
          %dt Description
          %dd You can add a longer description of the dataset here, including information such as where the data is from and any information that people will need to know when using the data.
          %dt Tags
          %dd Here you may add tags that will help people find the data and link it with other related data. Examples could be “population”, “crime”, “East Anglia”. Hit the <return> key between tags. If you enter a tag wrongly, you can use its delete button to remove it before saving the dataset.
          %dt License
          %dd It is important to include license information so that people know how they can use the data. This field should be a drop-down box. If you need to use a license not on the list, contact your site administrator.
          %dt Organization
          %dd If you are a member of any organizations, this drop-down will enable you to choose which one should own the dataset. Ensure the default chosen is the correct one before you proceed.

          %p When you have filled in the information on this page, select the “Next: Add Data” button. NASA ACE will display the “Add data” screen. This is where you will add one or more resources which contain the data for this dataset. Choose a file or link for your data resource and select the appropriate choice at the top of the screen:

          %dl.dl-horizontal
            %dt Link to file or API
            %dd If you are giving NASA ACE a link to the data, like http://example.com/mydata.csv, then select “Link to a file” or, if you know the API, “Link to an API”. 
            %dt Upload file
            %dd If the data to be added to NASA ACE is in a file on your computer, select “Upload a file”. NASA ACE will give you a file browser to select it.

          %p Add the other information on the page. NASA ACE does not require this information, but it is good practice to add it:

          %dl.dl-horizontal
            %dt Name
            %dd a name for this resource, e.g. “Population density 2011, CSV”. Different resources in the dataset should have different names.
            %dt Description
            %dd a short description of the resource
            %dt Format
            %dd the file format of the resource, e.g. CSV (comma-separated values), XLS, JSON, PDF, etc.

          %h4{ id: 'add-more-data' } Add more Data
          %p If you have more resources (files or links) to add to the dataset, select the “Save & add another” button. When you have finished adding resources, select “Next: Additional Info”.

          %p NASA ACE displays the “Additional data” screen.
          %dl.dl-horizontal
            %dt Visibility
            %dd A Public dataset is public and can be seen by any user of the site. A Private dataset can only be seen by members of the organization owning the dataset and will not show up in searches by other users.
            %dt Author
            %dd The name of the person or organization responsible for producing the data.
            %dt Author e-mail
            %dd an e-mail address for the author, to which queries about the data should be sent.
            %dt Maintainer
            %dd If necessary, details for a second person responsible for the data.
            %dt Custom fields
            %dd If you want the dataset to have another field, you can add the field name and value here. E.g. “Year of publication”. Note that if there is an extra field that is needed for a large number of datasets, you should talk to your site administrator about changing the default schema and dataset forms.
            %p Select the ‘Finish’ button.

          %h4{ id: 'search-for-data' } Search for Data

          %p You should be able to find your dataset by typing the title, or some relevant words from the description, into the search box on any page in NASA ACE. To find datasets in NASA ACE, type any combination of search words (e.g. “health”, “transport”, etc) in the search box on any page. NASA ACE displays the first page of results for your search.

          %p You can:

          %ul
            %li View more pages of results
            %li Repeat the search, altering some terms
            %li Restrict the search to datasets with particular tags, data formats, etc using the filters in the left-hand column

          %p If there are a large number of results, the filters can be very helpful, since you can combine filters, selectively adding and removing them, and modify and repeat the search with existing filters still in place. If datasets are tagged by geographical area, it is also possible to run NASA ACE with an extension which allows searching and filtering of datasets by selecting an area on a map.

          %h4{ id: 'searching-for-data-within-an-organization' } Searching for data within an organization
          %p If you want to look for data owned by a particular organization, you can search within that organization from its home page in NASA ACE. Other ways to find data owned by organizations include:

          %ul
            %li Select the “Organizations” link at the top of any page.
            %li Select the organization you are interested in. NASA ACE will display that organization’s home page.
            %li Type your search query in the main search box on the page.

          %p NASA ACE will return search results as normal, but restricted to datasets from the organization. If the organization is of interest, you can opt to be notified of new datasets and modifications by using the “Follow” button on the organization page.

          %h4{ id: 'delete-data' } Delete Data

          %p Go to the dataset’s “Edit dataset” page (see “Editing a dataset”, above). Select the “Delete” button. To complete deletion of the dataset, select “Confirm”.

          %h4{ id: 'public-and-private-data' } Public and Private Data

          %p Datasets can be marked as public or private. Public datasets are visible to everyone. Private datasets can only be seen by logged-in users who are members of the dataset’s organization. Private datasets are not shown in general dataset searches but are shown in dataset searches within the owning organization.

        %a{ href: "#user" } Back to Top

        %h3{ id: 'workspace' } Workspace

        %p The ACE Workspaces are the home of geospatial visualizations and annotations. Load data to view it on a map, layer data for new insight, and make custom annotations.

        %h4{ id: 'views' } Views

        %h4{ id: 'layers' } Layers

        %h4{ id: 'annotations' } Annotations

        %h4{ id: '3d-visualizations' } 3D Visualizations

        %a{ href: "#user" } Back to Top

        %h3{ id: 'chat' } Chat

        %p TBD

        %a{ href: "#user" } Back to Top

        %h3{ id: 'user-groups' } User Groups
        %p You can use CKAN Groups to create and manage collections of datasets. This could be to catalogue datasets for a particular project or team, or collect data on a particular theme, or as a very simple way to help people find and search your own published datasets.

        %h4{ id: 'create-a-user-group' } Create a User Group

        %p Click the "add user group" button. The "Create User Group" page will load. Name your user group and add a description. Upload an image or link to be viewed on your user group page.

        %h4{ id: 'follow-a-user-group' } Follow a User Group
        %p On the user group page you can click the "Follow" button to be notified when this user group adds or updates data.

        %a{ href: "#user" } Back to Top
