.content
  .row-fluid
    .col-xs-3
      %ul.nav.nav-default.nav-stacked
        %li
          %strong
            %a{ href: '#user' } User
        %li
          %a{ href: '#create-user' } Create User ID
        %li
          %a{ href: '#delete-user' } Delete User Account
        %li
          %a{ href: '#logging-in' } Logging In
        %li
          %strong
            %a{ href: '#organizations' } Organizations
        %li
          %a{ href: '#join-org' } Join an Organization
        %li
          %a{ href: '#create-org' } Create an Organization
        %li
          %a{ href: '#data-org' } Add data to an Organization
        %li
          %a{ href: '#manage-org' } Manage an Organization
        %li
          %strong
            %a{ href: '#data' } Data
        %li
          %a{ href: '#add-data' } Add Data
        %li
          %a{ href: '#search-data' } Search for Data
        %li
          %strong
            %a{ href: '#workspace-data' } Workspace
        %li
          %strong
            %a{ href: '#chat' } Chat
        %li
          %strong
            %a{ href: '#groups' } Groups
    .col-xs-9
      %h2 HELP page
      %h3{ id: 'user' } USER
      %p
        Register for publishing features and for personalization features, such as “following” datasets. Anyone, even people without accounts, can search for and download data.

      %h4{ id: 'create-user' } Create User ID
      %p
        To create a user ID, use the “Register” link at the top of any page. You will be asked for the following:
        %ul
          %li Username – choose a username using only letters, numbers, - and _ characters. For example, “jbloggs” or “joe_bloggs93”.
          %li Full name – to be displayed on your user profile
          %li E-mail address – this will not be visible to other users
          %li Password – enter the same password in both boxes

      %h4{ id: 'delete-user' } Delete User Account
      %h4{ id: 'logging-in' } Logging in

      %h3{ id: 'organizations' } ORGANIZATIONS
      %p
        Organizations are the primary way to control who can see, create and update datasets in CKAN. Each dataset can belong to a single organization, and each organization controls access to its datasets.
        Datasets can be marked as public or private. Public datasets are visible to everyone. Private datasets can only be seen by logged-in users who are members of the dataset’s organization. Private datasets are not shown in general dataset searches but are shown in dataset searches within the organization.
        When a user joins an organization, an organization admin gives them one of three roles: member, editor or admin.

      %p
        Each organization has a home page, where users can find some information about the organization and search within its datasets. This allows different data publishing departments, bodies, etc to control their own publishing policies.

      %h4{ id: 'join-org' } Join an Organization
      %h4{ id: 'create-org' } Create an Organization
      %ul
        %li
          Select the “Organizations” link at the top of any page.
        %li
          Select the “Add Organization” button below the search box. The “Create an Organization” page will load.
        %li
          Enter a name for the organization, and, optionally, a description and image URL for the organization’s home page.
        %li
          Select the “Create Organization” button. Your organization is created and displays its home page. Initially, of course, the organization has no datasets.

      %h4{ id: 'data-org' } Add Data to an Organization
      %p
        Once you have selected the page for the organization that you want to own your new dataset. Provided that you are a member of this organization, you can now select the “Add Dataset” button above the search box to add data to this organization.

      %h4{ id: 'manage-org' } Manage an Organization
      %p
        By default CKAN allows members of organizations with three roles:
        %ul
          %li Member – can see the organization’s private datasets
          %li Editor – can edit and publish datasets
          %li Admin – can add, remove and change roles for organization members

      %h3{ id: 'data' } DATA
      %h4{ id: 'add-data' } Add Data 
      %p
        You can access the “Create dataset” screen in two ways.
        Select the “Datasets” link at the top of any page. From this, above the search box, select the “Add Dataset” button.
        Alternatively, select the “organizations” link at the top of a page. Now select the page for the organization that should own your new dataset. Provided that you are a member of this organization, you can now select the “Add Dataset” button above the search box.
      %p
        You will then be ask for the following information about your data. 
        %ul
          %li
            Title – this title will be unique across NASA ACE, so make it brief but specific. E.g. “AK population density by region” is better than “Population figures”.
          %li
            Description – You can add a longer description of the dataset here, including information such as where the data is from and any information that people will need to know when using the data.
          %li
            Tags – here you may add tags that will help people find the data and link it with other related data. Examples could be “population”, “crime”, “East Anglia”. Hit the <return> key between tags. If you enter a tag wrongly, you can use its delete button to remove it before saving the dataset.
          %li
            License – it is important to include license information so that people know how they can use the data. This field should be a drop-down box. If you need to use a license not on the list, contact your site administrator.
          %li
            Organization - If you are a member of any organizations, this drop-down will enable you to choose which one should own the dataset. Ensure the default chosen is the correct one before you proceed. (Probably most users will be in only one organization. If this is you, NASA ACE will have chosen your organization by default and you need not do anything.)
        When you have filled in the information on this page, select the “Next: Add Data” button. 
      %p
        NASA ACE will display the “Add data” screen. This is where you will add one or more “resources” which contain the data for this dataset. Choose a file or link for your data resource and select the appropriate choice at the top of the screen:
        If you are giving NASA ACE a link to the data, like http://example.com/mydata.csv, then select “Link to a file” or “Link to an API”. (If you don’t know what an API is, you don’t need to worry about this option - select “Link to a file”.)
        If the data to be added to NASA ACE is in a file on your computer, select “Upload a file”. NASA ACE will give you a file browser to select it.
      %p
        Add the other information on the page. NASA ACE does not require this information, but it is good practice to add it:
        %ul
          %li
            Name – a name for this resource, e.g. “Population density 2011, CSV”. Different resources in the dataset should have different names.
          %li
            Description – a short description of the resource.
          %li
            Format – the file format of the resource, e.g. CSV (comma-separated values), XLS, JSON, PDF, etc.
        If you have more resources (files or links) to add to the dataset, select the “Save & add another” button. When you have finished adding resources, select “Next: Additional Info”.
      %p
        NASA ACE displays the “Additional data” screen.
        %ul
          %li
            Visibility – a Public dataset is public and can be seen by any user of the site. A Private dataset can only be seen by members of the organization owning the dataset and will not show up in searches by other users.
          %li
            Author – The name of the person or organization responsible for producing the data.
          %li
            Author e-mail – an e-mail address for the author, to which queries about the data should be sent.
          %li
            Maintainer / maintainer e-mail – If necessary, details for a second person responsible for the data.
          %li
            Custom fields – If you want the dataset to have another field, you can add the field name and value here. E.g. “Year of publication”. Note that if there is an extra field that is needed for a large number of datasets, you should talk to your site administrator about changing the default schema and dataset forms.
        Select the ‘Finish’ button. 
      %br/
      %h4{ id: 'search-data' } Search for Data
      %p
        You should be able to find your dataset by typing the title, or some relevant words from the description, into the search box on any page in NASA ACE. 
        To find datasets in NASA ACE, type any combination of search words (e.g. “health”, “transport”, etc) in the search box on any page. NASA ACE displays the first page of results for your search. You can:
        View more pages of results
        Repeat the search, altering some terms
        Restrict the search to datasets with particular tags, data formats, etc using the filters in the left-hand column
        If there are a large number of results, the filters can be very helpful, since you can combine filters, selectively adding and removing them, and modify and repeat the search with existing filters still in place.
        If datasets are tagged by geographical area, it is also possible to run NASA ACE with an extension which allows searching and filtering of datasets by selecting an area on a map.
      %p
        Searching for data within an organization
        If you want to look for data owned by a particular organization, you can search within that organization from its home page in NASA ACE.
        Select the “Organizations” link at the top of any page.
        Select the organization you are interested in. NASA ACE will display your organization’s home page.
        Type your search query in the main search box on the page.
        NASA ACE will return search results as normal, but restricted to datasets from the organization.
        If the organization is of interest, you can opt to be notified of changes to it (such as new datasets and modifications to datasets) by using the “Follow” button on the organization page. 
      %p
        Delete Data
        Go to the dataset’s “Edit dataset” page (see “Editing a dataset”, above). Select the “Delete” button. To complete deletion of the dataset, select “Confirm”.
      %p
        Public and Private Data
        Datasets can be marked as public or private. Public datasets are visible to everyone. Private datasets can only be seen by logged-in users who are members of the dataset’s organization. Private datasets are not shown in general dataset searches but are shown in dataset searches within the owning organization.


      %h3{ id: 'workspace-data' } Workspace
      TBD

      %h3{ id: 'chat' } Chat
      TBD

      %h3{ id: 'groups' } GROUPS
      TBD
