#layer-modal{ class: 'modal fade' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }}
          %span &times;
        %h4.modal-title Available Layers
      .modal-body
        - if @layers.blank?
          %p All layers have been added.
        - else
          - @layers.each do |layer|
            .row{ style: 'padding-left: 10px;' }
              = link_to layer.name, workspace_view_view_layers_path(@workspace, @view, nil, view_layer: { layer_id: layer.id }), method: :post, remote: true
 
      .modal-footer
        = link_to '#', data: { dismiss: 'modal' }, class: 'btn btn-default' do
          Close
