#layer-modal{ class: 'modal fade' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }}
          %span &times;
        %h4.modal-title Search Layers
      .modal-body
        - @layers.each do |layer|
          = link_to layer.name, workspace_view_view_layers_path(@workspace, @view, nil, view_layer: { layer_id: layer.id }), method: :post, remote: true
