// Place all the styles related to the workspaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sidebar_color: #242424;

.map-container {
  width: 100%;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;

  .map-sidebar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 240px;
    transition: width 0.3s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: auto;
  }

  &.auto-collapse .map-sidebar {
    width: 50px;
  }

  &.auto-collapse.open .map-sidebar {
    width: 240px;
  }

  .map-content {
    position: absolute;
    top: 1px;
    bottom: 0px;
    left: 240px;
    right: 0px;
    transition: left 0.3s ease-in-out;
  }

  &.auto-collapse .map-content {
    left: 50px;
  }

  &.auto-collapse.open .map-content {
    left: 240px;
  }

  .show-collapsed { display: none; }
  &.auto-collapse .hide-collapsed, &.auto-collapse.open .show-collapsed {
    display: none;
  }
  &.auto-collapse .show-collapsed, &.auto-collapse.open .hide-collapsed {
    display: initial;
  }

  // &.auto-colapse:not(.expand) .list-group.sub { display: none; }
  //
  // &.auto-colapse .show-collapsed { display: initial; }
  // &.auto-colapse .hide-collapsed { display: none; }
  // &.auto-colapse.expand .hide-collapsed { display: initial; }
  // &.auto-colapse.expand .show-collapsed { display: none; }
  // &.auto-colapse.expand .map-sidebar {
  //   width: 204px;
  //
  // }
  // &.auto-colapse.expand .map-content {
  //   left: 204px;
  // }

  .map-sidebar {
    color: #fff;
    padding: 10px 0;
    background-color: $sidebar_color;

    h5 { padding-left: 5px; }

    .list-group-item {
      border: none;
      border-top: 1px solid lighten($sidebar_color, 10%);
      color: #aaa;
      border-radius: 0px;
      background-color: $sidebar_color;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #000;
      }
    }

    .list-group-item:last-child {
      border-bottom: 1px solid lighten($sidebar_color, 10%);
    }
  }

  .rotatable {
    transition: all 0.3s ease;
  }
  .rotatable.on {
    transform: rotate(-90deg);
  }

  .list-group.sub {
    padding: 0px;
    margin-bottom: 0px;
    background-color: lighten($sidebar_color, 10%);

    .list-group-item {
      background-color: transparent;
      border: none;
      padding: 5px 20px;
    }
    .list-group-item:hover {
      background-color: #000;
    }
    .list-group-item.active {
      background-color: #ffcc00;
      color: #000;
    }
  }
}

.map {
  width: 100%;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute !important;
}

.workspaces .navbar {
  margin-bottom: 0px;
}

.mapboxgl-popup-content {
  max-height: 300px;
  overflow: auto;
}
