// Place all the styles related to the workspaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-container {
  width: 100%;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;

  .map-sidebar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 300px;
  }

  .map-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 300px;
    right: 0px;
  }
}

.map {
  width: 100%;
  height: 100%;
}

.workspaces .navbar {
  margin-bottom: 0px;
}
